@import '../../../common/css/rpx.scss';
@import '../../../common/css/const.scss';
@import '../../../common/css/mixin.scss';
page{
    // height: 100%;
    // background-image: linear-gradient(45deg, #0097FF 0%, #66E0FF 100%);
}
.device-ctner{
    padding: 0 rpx(34);
   .d-item{
    height: rpx(160);
    display: flex;
    align-items: center;
    position: relative;
    @include borderBottomOnePx;
    .d-icon{
        width: rpx(66);
        height: rpx(58);
        margin-right: rpx(40)
    }
    .d-name{
        flex: 1;
        font-size: rpx(30);
        color: #1F1F1F;
        line-height: rpx(36);
    }
    .device-del{
        width: rpx(100);
        font-size: rpx(28);
        text-align: center;
        text {
            padding: rpx(14) rpx(16);
            background: #00AAFF;
            border-radius: rpx(8);
            color: #FFF;
        }
    }
   }
}